.cabecalho {
    max-width: 720px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho__titulo {
    letter-spacing: 2px;
}

.fa-chart-simple,
.fa-question {
    font-size: 16px;
    background-color: var(--cor-fundo-input);
    border: solid 2px var(--cor-texto);
    cursor: pointer;
}

.fa-chart-simple {
    padding: 0.2em 0.3em;
}

.fa-question {
    padding: 0.2em 0.4em;
}

.cabecalho__titulo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--fonte-tamanho-titulo-mobile);
    display: flex;
}

@media screen and (min-width: 768px) {
    .cabecalho__titulo {
        font-size: var(--fonte-tamanho-titulo-desktop);
    }
    .fa-chart-simple,
    .fa-question {
        font-size: 20px;
    }
}