#opacidade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal-duvidas,
#modal-estatisticas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-fundo-input-bloqueado);
    z-index: 10;
    width: 400px;
    max-width: 75%;
    max-height: 90%;
    padding: 1.5em;
    border-radius: 10px;
}

#opacidade, 
#modal-duvidas,
#modal-estatisticas {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#opacidade.escondido,
#modal-duvidas.escondido,
#modal-estatisticas.escondido {
    opacity: 0;
    pointer-events: none;
}

.modal__cabecalho {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5em;
}

.modal__titulo {
    font-size: var(--fonte-tamanho-titulo-mobile);
}

.fa-xmark {
    font-size: var(--fonte-tamanho-titulo-mobile);
    cursor: pointer;
}

.modal__texto {
    line-height: 25px;    
    font-size: var(--fonte-tamanho-texto-mobile);
}

.letra__modal {
    width: 30px;
    height: 30px;
    font-size: var(--fonte-tamanho-texto-mobile);
    text-align: center;
    text-transform: uppercase;
}

.letras__exemplo {
    padding: 1em 0;
}

a {
    color: var(--cor-fundo-errado);
    text-decoration: none;
}

/* ESTATÍSTICAS */

.tabela__estatisticas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela__estatisticas--linha {
    height: 4em;
}

.tabela__estatisticas--coluna {
    width: 9em;
    text-align: center;
}

.grafico__desempenho {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 1em;
    row-gap: 0.5em;
}

.numero__desempenho {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5em 0.5em 0.5em 0;
}

.barra__desempenho {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 0.3em;
    background-color: var(--cor-borda-input-padrao);
    width: 5%;
    min-width: 5%;
}



@media screen and (min-width: 768px) {
    #modal-duvidas,
    #modal-estatisticas {
        width: 600px;
        padding: 2em;
    }
    .modal__cabecalho {
        padding-bottom: 2em;
    }
    .letra__modal {
        width: 40px;
        height: 40px;
        font-size: var(--fonte-tamanho-texto-desktop);
    }
    .modal__texto {
        font-size: var(--fonte-tamanho-texto-desktop);
        line-height: 30px;    
    }
}