@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --fonte-tamanho-titulo-desktop: 30px;
    --fonte-tamanho-titulo-mobile: 20px;
    --fonte-tamanho-texto-desktop: 18px;
    --fonte-tamanho-texto-mobile: 12px;
    --fonte-tamanho-botao-desktop: 20px;
    --fonte-tamanho-botao-mobile: 18px;
    --fonte-tamanho-input: 40px;
    --cor-texto: white;
    --cor-borda-input-padrao: #367cec;
    --cor-borda-input-focus: white;
    --cor-fundo-input-bloqueado: #00337C;
    --cor-fundo-certo: #538d4e;
    --cor-fundo-errado: #b59f3b;
    --cor-fundo-ausente: #86888a;
    --cor-fundo-pagina: #13005A;
    --cor-botao-letra: #00337C;
    --fonte-familia: 'Montserrat', sans-serif;
}

body {
    color: var(--cor-texto);
    font-family: var(--fonte-familia);
    background-color: var(--cor-fundo-pagina);
}
