@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --fonte-tamanho: 40px;
    --cor-texto: white;
    --cor-fundo-input: #00337C;
    --cor-fundo-pagina: #13005A;
    --fonte-familia: 'Montserrat', sans-serif;
}

body {
    color: var(--cor-texto);
    font-family: var(--fonte-familia);
    background-color: var(--cor-fundo-pagina);
}

h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--fonte-tamanho);
}

.palavra__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50vw;
    text-align: center;
    gap: 0.5em;
}

.palavra__inputs {
    display: flex;
    gap: 0.5em;
    border: none;
}

input {
    background-color: var(--cor-fundo-input);
    border: none;
    color: var(--cor-texto);
}

input:focus {
    outline: none;
}

.letra {
    width: 50px;
    height: 50px;
    font-size: var(--fonte-tamanho);
    text-align: center;
    text-transform: uppercase;
}